[Unit]
Description=BytePulse WiFi Data Tracker
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mosesamwoma
WorkingDirectory=/home/mosesamwoma/projects/BytePulse
ExecStart=/home/mosesamwoma/projects/BytePulse/linux/venv/bin/python3 /home/mosesamwoma/projects/BytePulse/linux/src/tracker.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment="PYTHONPATH=/home/mosesamwoma/projects/BytePulse"

[Install]
WantedBy=multi-user.target
