[Unit]
Description=BytePulse WiFi Data Tracker
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mosesamwoma
WorkingDirectory=/home/mosesamwoma/projects/BytePulse
ExecStart=/usr/bin/python3.12 /home/mosesamwoma/projects/BytePulse/linux/main.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment="PYTHONPATH=/home/mosesamwoma/projects/BytePulse"
Environment="PATH=/home/mosesamwoma/projects/BytePulse/linux/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target
